/* Color Palette
#0C2D57 Navy
#FC6736 Orange
#FFB0B0 Peach
#EFECEC Grey
*/

/* TODO: separar en diferentes .css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #EFECEC; 
  color: #0C2D57; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.6;
}

/* Timer */
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #EFECEC;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
}
.timer-container h3 {
  padding: 10px;
  margin: 0;
}
.timer {
  font-size: 48px;
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 0px;
  color: #0C2D57;
}
.timer-progress {
  width: 100%;
  background: #0C2D57; 
  height: 20px;
  transition: background 1s;
  border-radius: 5px;
  margin-bottom: 10px;
}
.timer-button { 
  display: inline-block;
  color: #fff;
  background-color: #0C2D57; 
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Draggable Container */
#draggableContainer {
  position: absolute;
  padding-left: 20px; /* Invisible space for the dragButton */
}
#dragButton {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -20px; /* Same as the container padding-left */
  margin-top: 20px;
  display: none;
}

button:hover {
  background-color: #FC6736; 
}

button:disabled {
  background-color: #cccccc;
  color: #ffffff;
}

/* Phrase */
form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #ddd;
  transition: border-width 0.6s linear;
  width: 70%;
}

input[type="text"]:focus {
  border-color: #0C2D57;
  border-width: 2px;
}
